<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Nomes</title>
</head>
<body>
    <form method="post" action="/">
        <select name="race">
          <% Object.keys(nameLists).forEach(function(race) { %>
            <option value="<%= race %>"><%= race %></option>
          <% }); %>
          </select>
        <button type="submit">Gerar</button>
        <p> <%= generatedName %> </p>
    </form>
    
    
</body>
</html>